:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 0.8em;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  width: 50px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button:disabled {
  border-color: black;
  cursor: not-allowed;
  opacity: 0.6;
}

.button:disabled:hover {
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

li {
  padding: 10px;
  font-size: 20px;
  background-color: #49484868;
  margin-bottom: 10px;
  border: 3px solid rgb(120, 118, 115);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button {
  width: 30px;
  height: 35px;
  border-radius: 5px;
}

.add-button {
  background-color: deeppink;
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
}

.checked {
  text-decoration: line-through;
}

.edit-button {
  width: 27px;
  height: 25px;
  border-radius: 5px;
}

.edit-button-div {
  display: flex;
  justify-content: center;
}

.update-button {
  width: 27px;
  height: 27px;
  background-image: url(assets/tickIcon.png);
  border-radius: 5px;
}

.task-div {
  width: 200px;
  height: 100px;
  border: 2px solid rgb(217, 142, 181);
  padding: 20px;
}

.task-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.action-buttonsDiv {
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editInput {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

ol {
  padding: 0;
}

.task {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 30px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog-title {
  background-color: #bcb4b4;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dialog-content {
  background-color: #bcb4b4;
}

.dialog-actions {
  background-color: #bcb4b4;
  display: flex;
  justify-content: center;
}

#taskName {
  border-radius: 10px;
  outline: none;
}

.taskInput {
  display: flex;
  justify-content: center;
}

.subjectInput {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.boxContainer {
  display: flex;
  justify-content: center;
}

.dialog-buttons {
  background-color: deeppink;
  width: 90px;
  height: 40px;
  font-size: 12px;
}

.tasksContainer {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  flex-wrap: wrap;
}

.filterTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
}

.filter-buttons {
  background-color: rgb(217, 142, 181);
  width: 100px;
  height: 45px;
  font-size: 12px;
  padding: 15px;
}

.filterDivs {
  padding: 10px;
}

.filterButtonsDiv {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 970px;
}

.filter-button{
  padding: 10px;
}